.section1, .section2 {
    height: 100vh;
    width: 100%;
  }
  
  .section1 {
    background-color: lightblue;
  }
  
  .section2 {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  